/*  font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; 
*/

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-blue: rgb(5, 5, 56);
}

.canvas-interactive-wrapper {
    position: relative;
    height: 670px;
    text-align: center;
}

.canvas-interactive-wrapper canvas {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.title {
    position: relative;
    padding: 30px 0px;
    text-align: center;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}

.cta-wrapper {
    padding: 15px 0px;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    z-index: 1;
    height: 80px;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}

.nav-link:hover {
    border-bottom: 3px solid black;
    transition: border 0.1s;
}

aside .intro {
    position: relative;
    top: 100px;
    font-family: 'Roboto', sans-serif;
    float: left ;
    width: 600px;
    font-size: 54px;
    margin-left: 20px;
    text-align: left;
    z-index: 1;
}

.triangulo {
    background-color: black;
    clip-path: polygon(89% 0, 0% 100%, 100% 65%);
    position: relative;
    float: right;
    bottom: 0px;
    right: 30px;  
    width: 400px;
    height: 490px;
}

.bar {
    width: 100%;
    height: 100px;
    border-top: 0px solid grey;
    border-bottom: 0px solid grey;
    box-shadow: 0px 0px -3px grey;
    background-color: var(--color-blue);
}

.para2 {
    height: 800px;
}

#cards {
    width: 50%;
    height: 600px;
    margin: 0px 300px;
    text-align: center;
    display: inline-block;
}

.card-link {
    margin: 20px 20px;
    width: 200px;
    height: 250px;
    border: 0px solid gray;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: "Poppins";
    font-size: 20px;
    display: inline-block;
    box-shadow: 0px 0px 10px gray;
}

.card-link:hover {
    scale: 1.1;
}

.imgCard {
    width: 200px;
    height: 150px;
    padding: 10px auto;
    border: 0px solid transparent;
    border-radius: 5px;
}

.desc {
    height: 60px;
    width: 200px;
    padding: 10px;
}

.btnProj {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-blue);
    color: white;
    border: 0px solid transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 6px black;
    width: 80px;
    height: 20px;
}

.page {
    height: 650px;
}

.pageText {
    position: relative;
    top: 20px;
    left: 120px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    float: left;
    font-size: 20px;
    width: 400px;
}

.profile {
    float: right;
    position: relative;
    top: 20px;
    right: 120px;
    width: 400px;
    height: 400px;
}

.curric {
    position: relative;
    font-size: 30px;
    background-color: var(--color-blue);
    color: white;
    top: 480px;
    right: 150px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px;
}


footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    height: 230px;
    background-color: var(--color-blue);
    color: white;
}

.footerText1 {
    width: 600px;
    text-align: left;
    margin: 0px 20px;
    padding: 0px 20px;
}

.line {
    color: white;
    width: 600px;
    margin: 10px 0px;
}

.icons {
    margin: 10px 0px;
    display: inline-block;
    text-align: left;
}

.size {
    width: 30px;
    height: 30px;  
}

@media only screen and (max-width: 576px) {
   * {
    width: 100%;

   }
   .cta-wrapper {
    display: none;
   }
   /* .nav-link{
    text-align: left;
    padding: 10px;
    font-size: 2em;
   } */

   aside {
    width: 100%;
    height: 600px;
   }

   .intro{
    margin: 0px auto;
    height: 600px;
   }
   .triangulo {
    display: none;
   }

   #cards {
    margin: 0px auto;
   }



}

  /* // Small devices (landscape phones, 576px and up) */
  /* // Medium devices (tablets, 768px and up) */
  /* // Large devices (desktops, 992px and up) */