:root {
    --base1-color: #633DF9;
    --base2-color: #E5FD53;
    --base3-color: #B853FC;
    --base4-color: #7A28B0;
    --grad1-color: linear-gradient(296.82deg, #E5FD53 0%, rgba(229, 253, 83, 0.89) 100%);
    --branco-color: #FFFFFF;
    --poppins-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
}
/* home */
#home {
    background-image: url("images/Group 6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--base4-color);
    font-family: var(--roboto-font);
}

/* #logo {
    margin-top: 65px;
    margin-right: 200px;
    float: right;
    width: 550px;
    height: 550px;
    background-color: var(--base2-color);
} */









/* about me*/
#aboutme {
    background-color: var(--branco-color);
}

#compet {
    background-color: var(--base2-color) ;
}

#projetos {
    background-color: var(--base4-color);
}

#falecomigo {
    background-color: var(--base3-color) ;
}

#footer {
    background-color: var(--base3-color);
}